.stats {
  padding: 1rem;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background-color: rgba(78, 5, 93, 0.462);
  -webkit-backdrop-filter: blur(10px);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  button {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('../../assets/arrow-down.svg');
    background-size: contain;
  }
  .value {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .needList {
    .showFrom {
      font-size: 0.8rem;
    }
  }
  .InputNumber {
    input {
      text-align: center;
    }
  }
}
