@use '../../variables' as vars;

.tinctureListItem {
  color: #fff;
  text-shadow: 0 0 5px vars.$shadow-color, 0 0 10px vars.$shadow-color,
    0 0 20px vars.$shadow-color, 0 0 40px vars.$shadow-color;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: 200ms;

  &__selected {
    transform: scale(1.1);
    background-color: vars.$shadow-color;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
  }

  .buttonGroup {
    position: absolute;
    display: flex;
    gap: 7px;
    top: 0;
    right: 0;
    .icon {
      cursor: pointer;
      &__delete {
        color: rgb(138, 0, 0);
      }
    }
  }
  .hidden {
    display: none;
  }
}
