.uiBtn {
  border: 2px solid black;
  width: 7rem;
  margin: 0 auto;
  border-radius: 7px;
  cursor: pointer;
  &__light {
    color: #fff;
    border-color: #fff;
  }
}

.sortingBtn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  &__qantSort {
    background-image: url(../../assets/sorting-arrow.svg);
  }

  &__alphaSort {
    background-image: url(../../assets/sort-alpha-down.svg);
  }

  &__down {
    transform: rotateZ(180deg);
  }
}
