@use '../../variables' as vars;

.overlay {
  background-color: rgba(139, 33, 155, 0.6);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;
}

.form {
  background-color: #fff;
  color: vars.$main-text-color-dark;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  text-align: center;
  .closeBtn {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    transform: translateX(30px);
    cursor: pointer;
  }
  label {
    span {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
  input {
    border: 2px solid rgb(184, 182, 182);
    border-radius: 10px;
    padding: 4px;
    display: block;
    margin: 0 auto;
  }
}
