@use '../../variables' as vars;

.header {
  height: 60px;
  background-color: vars.$main-color;

  padding: 0 60px;
  .headerContent {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
